<html class="no-js" lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Apexa - Business Consulting HTML Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flaticon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/odometer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper-bundle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-css/iransans.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-css/aviny.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts') }}">
    
    <script src="{{ url_for('static', filename='js') }}"></script>

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.png') }}">

</head>

<body>
    <div id="preloader">
        <div id="loader" class="loader">
            <div class="loader-container">
                <div class="loader-icon">
                    <img src="{{ url_for('static', filename='img/logo/preloader.png') }}" alt="Preloader">
                </div>
            </div>
        </div>
    </div>
    <button class="scroll__top scroll-to-target" data-target="html">
        <i class="fas fa-angle-up"></i>
    </button>
    <div class="offCanvas__overly"></div>
    <header class="transparent-header">
        <div class="tg-header__top">
            <div class="container custom-container">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="tg-header__top-info left-side list-wrap">
                            <li class="ltr"><i class="flaticon-phone-call"></i><a href="tel:0123456789">+989122187891</a></li>
                            <li><i class="flaticon-pin"></i>تهران پلاک یک </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="tg-header__top-right list-wrap">
                            <li><i class="flaticon-envelope"></i><a href="mailto:info@test.com">siamak.rahi@yahoo.com</a></li>
                            <li><i class="flaticon-time"></i>شنبه - جمعه: 10:صبح- 09:00 شب</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="sticky-header" class="tg-header__area"> <div class="container custom-container"> 
            <div class="row"> 
                <div class="col-12"> 
                    <div class="tgmenu__wrap"> 
                        <nav class="tgmenu__nav"> 
                            <div class="logo"> <a href=''><img src="{{ url_for('static', filename='img/logo/logo.png') }}" alt="Logo"></a> </div> 
                            <div class="tgmenu__navbar-wrap tgmenu__main-menu d-none d-lg-flex"> 
                                <ul class="navigation"> 
                                    <li ><a href="{{ url_for('home') }}">خانه </a> </li>
                                    <li ><a href="{{ url_for('about') }}">درباره ما</a> </li> 
                                    <li ><a href="{{ url_for('service') }}">خدمات </a> </li> 
                                    <li ><a href="{{ url_for('team') }}">تیم ها</a> </li> 
                                    <li ><a href="{{ url_for('blog') }}">وبلاگ</a> </li> 
                                    <li ><a href="{{ url_for('contact') }}">تماس با ما</a></li> 
                                </ul> 
                            </div> 
                            <div class="tgmenu__action d-none d-md-block"> 
                                <ul class="list-wrap"> 
                                    <li class="header-search"> 
                                        <a href="javascript:void(0)" class="search-open-btn"> 
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none"> 
                                                <path d="M19 19.0002L14.657 14.6572M14.657 14.6572C15.3999 13.9143 15.9892 13.0324 16.3912 12.0618C16.7933 11.0911 17.0002 10.0508 17.0002 9.00021C17.0002 7.9496 16.7933 6.90929 16.3913 5.93866C15.9892 4.96803 15.3999 4.08609 14.657 3.34321C13.9141 2.60032 13.0322 2.01103 12.0616 1.60898C11.0909 1.20693 10.0506 1 9.00002 1C7.94942 1 6.90911 1.20693 5.93848 1.60898C4.96785 2.01103 4.08591 2.60032 3.34302 3.34321C1.84269 4.84354 0.999817 6.87842 0.999817 9.00021C0.999817 11.122 1.84269 13.1569 3.34302 14.6572C4.84335 16.1575 6.87824 17.0004 9.00002 17.0004C11.1218 17.0004 13.1567 16.1575 14.657 14.6572Z" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /> 
                                            </svg> 
                                        </a> 
                                    </li> 
                                    <li class="offCanvas-menu"> 
                                        <a href="javascript:void(0)" class="menu-tigger"> 
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" fill="none"> 
                                                <path d="M0 2C0 0.895431 0.895431 0 2 0C3.10457 0 4 0.895431 4 2C4 3.10457 3.10457 4 2 4C0.895431 4 0 3.10457 0 2Z" fill="currentcolor" /> 
                                                <path d="M0 9C0 7.89543 0.895431 7 2 7C3.10457 7 4 7.89543 4 9C4 10.1046 3.10457 11 2 11C0.895431 11 0 10.1046 0 9Z" fill="currentcolor" /> 
                                                <path d="M0 16C0 14.8954 0.895431 14 2 14C3.10457 14 4 14.8954 4 16C4 17.1046 3.10457 18 2 18C0.895431 18 0 17.1046 0 16Z" fill="currentcolor" /> 
                                                <path d="M7 2C7 0.895431 7.89543 0 9 0C10.1046 0 11 0.895431 11 2C11 3.10457 10.1046 4 9 4C7.89543 4 7 3.10457 7 2Z" fill="currentcolor" /> 
                                                <path d="M7 9C7 7.89543 7.89543 7 9 7C10.1046 7 11 7.89543 11 9C11 10.1046 10.1046 11 9 11C7.89543 11 7 10.1046 7 9Z" fill="currentcolor" /> 
                                                <path d="M7 16C7 14.8954 7.89543 14 9 14C10.1046 14 11 14.8954 11 16C11 17.1046 10.1046 18 9 18C7.89543 18 7 17.1046 7 16Z" fill="currentcolor" /> 
                                                <path d="M14 2C14 0.895431 14.8954 0 16 0C17.1046 0 18 0.895431 18 2C18 3.10457 17.1046 4 16 4C14.8954 4 14 3.10457 14 2Z" fill="currentcolor" /> 
                                                <path d="M14 9C14 7.89543 14.8954 7 16 7C17.1046 7 18 7.89543 18 9C18 10.1046 17.1046 11 16 11C14.8954 11 14 10.1046 14 9Z" fill="currentcolor" /> 
                                                <path d="M14 16C14 14.8954 14.8954 14 16 14C17.1046 14 18 14.8954 18 16C18 17.1046 17.1046 18 16 18C14.8954 18 14 17.1046 14 16Z" fill="currentcolor" /> 
                                            </svg> 
                                        </a> 

                                        {% if session['user_name'] %}
                                            <li class="header-btn"><a class='btn'href="{{ url_for('profile') }}">کاربر: {{ session['user_name'] }}</a></li>
                                            <li class="header-btn"><a class='btn' href="{{ url_for('logout') }}">خروج از حساب</a></li>
                                        {% else %}
                                            <li class="header-btn"><a class='btn' href="{{ url_for('login_user') }}">ورود به حساب</a></li>
                                            <li class="header-btn"><a class='btn' href="{{ url_for('register_page') }}"> ثبت نام </a>
                                        {% endif %}
                                    
                                    </li>                                      
                                </ul> 
                            </div> 
                                <div class="mobile-nav-toggler"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" fill="none"> 
                                        <path d="M0 2C0 0.895431 0.895431 0 2 0C3.10457 0 4 0.895431 4 2C4 3.10457 3.10457 4 2 4C0.895431 4 0 3.10457 0 2Z" fill="currentcolor" /> 
                                        <path d="M0 9C0 7.89543 0.895431 7 2 7C3.10457 7 4 7.89543 4 9C4 10.1046 3.10457 11 2 11C0.895431 11 0 10.1046 0 9Z" fill="currentcolor" /> 
                                        <path d="M0 16C0 14.8954 0.895431 14 2 14C3.10457 14 4 14.8954 4 16C4 17.1046 3.10457 18 2 18C0.895431 18 0 17.1046 0 16Z" fill="currentcolor" /> 
                                        <path d="M7 2C7 0.895431 7.89543 0 9 0C10.1046 0 11 0.895431 11 2C11 3.10457 10.1046 4 9 4C7.89543 4 7 3.10457 7 2Z" fill="currentcolor" /> 
                                        <path d="M7 9C7 7.89543 7.89543 7 9 7C10.1046 7 11 7.89543 11 9C11 10.1046 10.1046 11 9 11C7.89543 11 7 10.1046 7 9Z" fill="currentcolor" /> 
                                        <path d="M7 16C7 14.8954 7.89543 14 9 14C10.1046 14 11 14.8954 11 16C11 17.1046 10.1046 18 9 18C7.89543 18 7 17.1046 7 16Z" fill="currentcolor" /> 
                                        <path d="M14 2C14 0.895431 14.8954 0 16 0C17.1046 0 18 0.895431 18 2C18 3.10457 17.1046 4 16 4C14.8954 4 14 3.10457 14 2Z" fill="currentcolor" /> 
                                        <path d="M14 9C14 7.89543 14.8954 7 16 7C17.1046 7 18 7.89543 18 9C18 10.1046 17.1046 11 16 11C14.8954 11 14 10.1046 14 9Z" fill="currentcolor" /> 
                                        <path d="M14 16C14 14.8954 14.8954 14 16 14C17.1046 14 18 14.8954 18 16C18 17.1046 17.1046 18 16 18C14.8954 18 14 17.1046 14 16Z" fill="currentcolor" /> 
                                    </svg> 
                                </div> 
                        </nav> 
                    </div>
                        <div class="tgmobile__menu"> 
                            <nav class="tgmobile__menu-box"> 
                                <div class="close-btn"><i class="fas fa-times"></i>
                                </div> 
                                <div class="nav-logo"> 
                                    <a href=''><img src="{{ url_for('static', filename='img/logo/logo.png') }}" alt="Logo"></a> 
                                </div> 
                                <div class="tgmobile__search"> 
                                    <form action="#"> 
                                        <input type="text" placeholder="جستجو ..."> 
                                        <button><i class="fas fa-search"></i></button> 
                                    </form> 
                                </div> 
                                <div class="tgmobile__menu-outer"> 
                                </div> 
                                <div class="tgmobile__menu-bottom"> 
                                    <div class="contact-info"> 
                                        <ul class="list-wrap"> 
                                            <li><a href="mailto:info@test.com">siamak.rahi@yahoo.com</a></li> 
                                            <li><a href="tel:0123456789">+989122187891</a></li> 
                                        </ul> 
                                    </div> 
                                    <div class="social-links"> 
                                        <ul class="list-wrap"> 
                                            <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li> 
                                            <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li> 
                                            <li><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li> 
                                            <li><a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a></li> 
                                            <li><a href="javascript:void(0)"><i class="fab fa-youtube"></i></a></li> 
                                        </ul> 
                                    </div> 
                                </div> 
                            </nav> 
                        </div> 
                            <div class="tgmobile__menu-backdrop">
                            </div> 
                    </div> 
                </div> 
            </div> 
        </div>
        <div class="search__popup">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="search__wrapper">
                            <div class="search__close">
                                <button type="button" class="search-close-btn">
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17 1L1 17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M1 1L17 17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </button>
                            </div>
                            <div class="search__form">
                                <form action="#">
                                    <div class="search__input">
                                        <input class="search-input-field" type="text" placeholder="جستجو کنید ...">
                                        <span class="search-focus-border"></span>
                                        <button>
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.55 18.1C14.272 18.1 18.1 14.272 18.1 9.55C18.1 4.82797 14.272 1 9.55 1C4.82797 1 1 4.82797 1 9.55C1 14.272 4.82797 18.1 9.55 18.1Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                <path d="M19.0002 19.0002L17.2002 17.2002" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-popup-overlay"></div>
        <div class="offCanvas__info">
            <div class="offCanvas__close-icon menu-close">
                <button><i class="far fa-window-close"></i></button>
            </div>
            <div class="offCanvas__logo mb-30">
                <a href=''><img src="{{ url_for('static', filename='img/logo/logo.png') }}" alt="Logo"></a>
            </div>
            <div class="offCanvas__side-info mb-30">
                <div class="contact-list mb-30">
                    <h4>آدرس دفتر مرکزی</h4>
                    <p> تهران پلاک یک<br></p>
                </div>
                <div class="contact-list mb-30" style="direction: ltr; text-align: left;">
                    <h4>شماره تماس</h4>
                    <p>+989122187891</p>
                </div>
            </div>
            <div class="offCanvas__social-icon mt-30">
                <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                <a href="javascript:void(0)"><i class="fab fa-google-plus-g"></i></a>
                <a href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="offCanvas__overly"></div>
    </header>
    {% block content %} 


    
    {% endblock %}
    <footer>
        <div class="footer-area">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="footer-widget">
                                <div class="fw-logo mb-25">
                                    <a href=""><img src="{{ url_for('static', filename='img/logo/logo.png') }}" alt="Logo"></a>
                                </div>
                                <div class="footer-content">
                                    <p>کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد.</p>
                                    <div class="footer-social">
                                        <ul class="list-wrap">
                                            <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fab fa-pinterest-p"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="fab fa-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                            <div class="footer-widget">
                                <h4 class="fw-title">اطلاعات</h4>
                                <div class="footer-info-list">
                                    <ul class="list-wrap">
                                        <li>
                                            <div class="icon">
                                                <i class="flaticon-phone-call"></i>
                                            </div>
                                            <div class="content">
                                                <a href="tel:0123456789">+989122187891</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <i class="flaticon-envelope"></i>
                                            </div>
                                            <div class="content">
                                                <a href="mailto:info@test.com">siamak.rahi@yahoo.com</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <i class="flaticon-pin"></i>
                                            </div>
                                            <div class="content">
                                                <p> تهران پلاک یک </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                            <div class="footer-widget">
                                <h4 class="fw-title">دسترسی سریع</h4>
                                <div class="footer-link-list">
                                    <ul class="list-wrap">
                                        <li><a href="about.html">درباره ما</a></li>
                                        <li><a href="contact.html">شرکای ما</a></li>
                                        <li><a href="contact.html">توصیفات</a></li>
                                        <li><a href="contact.html">مطالعات ما</a></li>
                                        <li><a href="contact.html">قیمت گذاری</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6">
                            <div class="footer-widget">
                                <h4 class="fw-title">پست‌های اینستاگرام</h4>
                                <div class="footer-instagram">
                                    <ul class="list-wrap">
                                        <li><a href="javascript:void(0)"><img src="{{ url_for('static', filename='img/images/footer_insta01.jpg') }}" alt="Instagram Post 01"></a></li>
                                        <li><a href="javascript:void(0)"><img src="{{ url_for('static', filename='img/images/footer_insta02.jpg') }}" alt="Instagram Post 02"></a></li>
                                        <li><a href="javascript:void(0)"><img src="{{ url_for('static', filename='img/images/footer_insta03.jpg') }}" alt="Instagram Post 03"></a></li>
                                        <li><a href="javascript:void(0)"><img src="{{ url_for('static', filename='img/images/footer_insta04.jpg') }}" alt="Instagram Post 04"></a></li>
                                        <li><a href="javascript:void(0)"><img src="{{ url_for('static', filename='img/images/footer_insta05.jpg') }}" alt="Instagram Post 05"></a></li>
                                        <li><a href="javascript:void(0)"><img src="{{ url_for('static', filename='img/images/footer_insta06.jpg') }}" alt="Instagram Post 06"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-7 order-0 order-lg-2">
                            <div class="footer-newsletter">
                                <h4 class="title">عضویت در خبرنامه</h4>
                                <form action="#">
                                    <input type="text" placeholder="ایمیل خود را وارد کنید ...">
                                    <button class="btn btn-two" type="submit">عضویت</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="copyright-text">
                                <p>  صفحات ساخته شده توسط سیامک راهی </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-shape">
                <img src="{{ url_for('static', filename='img/images/footer_shape01.png') }}" alt="Footer Shape 01" data-aos="fade-right" data-aos-delay="400">
                <img src="{{ url_for('static', filename='img/images/footer_shape02.png') }}" alt="Footer Shape 02" data-aos="fade-left" data-aos-delay="400">
                <img src="{{ url_for('static', filename='img/images/footer_shape03.png') }}" alt="Footer Shape 03" data-parallax='{"x": 100, "y": -100 }'>
            </div>
        </div>
    </footer>
    
    <script src="{{ url_for('static', filename='js/vendor/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.odometer.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.appear.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gsap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ScrollTrigger.js') }}"></script>
    <script src="{{ url_for('static', filename='js/SplitText.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gsap-animation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.parallaxScroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/swiper-bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ajax-form.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>
    const text = document.querySelector('.circle');
    text.innerHTML = text.textContent.replace(/\S/g, "<span>$&</span>");
    const element = document.querySelectorAll('.circle span');
    for (let i = 0; i < element.length; i++) {
        element[i].style.transform = "rotate(" + i * 17 + "deg)"
    }
    </script>

       
</body>
</html>