{% extends "base.html" %} 
{% block content %} 
<main class="fix"> 
    <section class="register__area-one"> 
        <div class="container"> 
            <div class="text-center mb-55">   
            </div> 
            <div class="box-form-login">
                <h1 class="text-48-bold">اطلاعات حساب کاربری</h1> 
                <div class="head-login"> 
                    <p> شماره کاربری: {{ user.id }} </p>
                    <p>نام: {{ user.fname }} </p>
                    <p>نام خانوادگی: {{ user.lname }} </p>
                    <p>ایمیل: {{ user.email }} </p>
                    <p>هش رمز عبور: {{ user.password_hash }} </p>
                </div> 
            </div> 
        </div> 
    </section>    
    <section class="register__area-one"> 
        <div class="container"> 
            <div class="text-center mb-55">  
                <div class="box-form-login">
                <h1 class="text-48-bold"> ویرایش حساب کاربری</h1>
                <form method="POST" action="{{ url_for('update_user', user_id=user.id) }}"> 
                    <label for="fname">نام:</label> 
                    <input type="text" id="fname" name="fname" value="{{ user.fname }}"><br><br> 
                
                    <label for="lname">نام خانوادگی:</label> 
                    <input type="text" id="lname" name="lname" value="{{ user.lname }}"><br><br> 
                
                    <label for="email">ایمیل:</label> 
                    <input type="email" id="email" name="email" value="{{ user.email }}"><br><br> 
                
                    <label for="password">رمز عبور (برای تغییر):</label> 
                    <input type="password" id="password" name="password"><br><br> 
                
                    <button type="submit" class="btn btn-danger">ویرایش شود </button> 
                </form> 
                </div> 
            </div> 
        </div> 
    </section>
    <section class="register__area-one"> 
        <div class="container"> 
            <div class="text-center mb-55">  
                <div class="box-form-login">
                <h1 class="text-48-bold"> حذف حساب کاربری</h1>
                <form method="POST" action="{{ url_for('delete_user', id=user.id) }}">
                    <button type="submit" class="btn btn-danger">حذف شود </button> 
                </form> 
                </div> 
            </div> 
        </div> 
    </section>
      
</main> 
{% endblock %}
