{% extends "base.html" %} 
{% block content %} 
<main class="fix"> 
    <section class="register__area-one"> 
        <div class="container"> 
            <div class="text-center mb-55"> 
                <br><br><br><br> 
                <h1 class="text-48-bold">ایجاد حساب کاربری</h1> 
            </div> 
            <div class="box-form-login"> 
                <div class="head-login"> 
                    <h3>ثبت نام</h3> 
                    امروز یک حساب کاربری ایجاد کنید و استفاده از پلتفرم ما را شروع کنید 
                    <form class="form-login" method="POST" action="{{ url_for('create_user') }}"> 
                        <div class="form-group"> 
                            <label for="first_name">نام:</label> 
                            <input type="text" id="fname" name="fname" class="form-control account" required> 
                        </div> 
                        <div class="form-group"> 
                            <label for="last_name">نام خانوادگی:</label> 
                            <input type="text" id="lname" name="lname" class="form-control account" required> 
                        </div> 
                        <div class="form-group"> 
                            <label for="email">ایمیل:</label> 
                            <input type="email" id="email" name="email" class="form-control email-address" required> 
                        </div> 
                        <div class="form-group"> 
                            <label for="password">رمزعبور:</label> 
                            <input type="password" id="password" name="password" class="form-control" required> 
                            <span class="view-password"></span>  
                        </div> 
                        <div class="box-forgot-pass"> 
                            <label> 
                                <input type="checkbox" id="terms" name="terms" class="cb-remember" required>  
                                <span>من <a href="#">شرایط و ضوابط</a> و <a href="#">خط مشی رازداری</a> این وب سایت را خوانده و موافقم.</span> 
                            </label> 
                        </div> 
                        <div class="form-group"> 
                            <input type="submit" class="btn btn-login" value="ثبت نام"> 
                        </div> 
                        حساب کاربری دارید؟ <a class="link-bold" href="{{ url_for('login_user') }}">وارد</a> شوید 
                    </form> 
                </div> 
            </div> 
        </div> 
    </section> 
</main> 
{% endblock %} 